body {
    margin: 0;
    padding: 0;
}

.Navbar {
    background-color: #FF2313;
    display: flex;
    padding: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}

.Navbar_Items {
    display: flex;
}

.Navbar_link {
    padding-right: 10px;
}

.Navbar_Items--right {
    margin-left: auto;
}

.Navbar_link-toggle {
    display: none;
    
}

.Navbar_ToggleShow {
    display: flex;
}

/* a: link is the color/styling for an unvisited link */
/* a: link is the color/styling for a visited link */
a:link, a:visited { 
    display: block;
    font-weight: bold;

 color: white;
  
    text-align: center;

    text-transform: uppercase;
    text-decoration: none;
}

/* Code that changes the styling of a button on the navbar when hovering over it */
a:hover {
    background-color: aqua;
    color: purple;
}



#main_img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 1.25rem;
}

.home_container {
    display: flex;
    justify-content: space-between;
}




/* What this query really means, is 
“If [device width] is less than or equal to 600px, then do {…}” */
@media (max-width: 800px) {
    p {
        
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .Navbar,
    .Navbar_Items {
        flex-direction: column;
    }
    .Navbar_Items {
        display: none;
    }
    .Navbar_Items--right {
        margin-left: 0;
    }
    .Navbar_link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .home_container {
        flex-direction: column;
    }
  
}